body {
  margin: 0;
  overflow: hidden;
  display: flex;
  background-color: black;
}

.group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group canvas.active + .reticle {
  display: inline-block;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  position: absolute;
  border: 1px solid #7777ff;
}
